@charset "utf-8";

/* RESET */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    position: relative;
}

button{
    background-color: transparent;
}

.modal{
    display: none;
    position: fixed;
    top: 45px;
    right: 50px;
    width: 70px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    z-index: 2;
    /* position: absolute;
    right: 100%;
    top: calc(50% - 25px); */
}

table{
    width: 100%;
    height: 100vh;
    text-align: center;
}

table tr:nth-child(odd){
    background-color: #f8f8f8;
}

table tr:nth-child(even){
    background-color: #fff;
}


/* 기존의 CheakBox Style 제거 */

input[type="checkbox"]{
    position: absolute;
    clip: rect(0,0,0,0);
}

/* 체크 전 상태 Style */

input[type="checkbox"] + label::before{
    content: '\a0';
    display: block;
    width: 1em;
    height: 1em;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* 체크 후 상태 Style */

input[type="checkbox"]:checked + .odd_num::before{
    content:'\2714';
    background-color: #5cbb5c;
    text-indent: 0.1em;
}

input[type="checkbox"]:checked + .even::before{
    content:'\2714';
    background-color: #cccccc;
    text-indent: 0.1em;
}

table > tbody > tr > .center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

table > tbody > tr > td {
    position: relative;
}

.open::before{
    content: 'open';
    display: block;
    width: 75px;
    height: 30px;
    border-radius: 1000000000000px;
    color: #fff;
    background-color: #f09e33;
}

.closed::before{
    content: 'Closed';
    display: block;
    width: 75px;
    height: 30px;
    border-radius: 1000000000000px;
    color: #000;
    background-color: #fff;
}

.closed::before{
    content: 'Closed';
    display: block;
    width: 75px;
    height: 30px;
    border-radius: 1000000000000px;
    color: #000;
    background-color: #fff;
}

.reopened::before{
    content: 'Reopened';
    display: block;
    width: 90px;
    height: 30px;
    border-radius: 1000000000000px;
    color: #fff;
    background-color: #5cbb5c;
}

table > tbody > tr > .blue{
    color: navy;
}

table > tbody > tr > td > button{
    cursor: pointer;
}

table > tbody > tr > td > button div{
    width: 5px;
    height: 5px;
    margin: 5px 5PX;
    background-color: #000;
    border-radius: 50%;
}